/.github export-ignore
/bootstrap export-ignore
/documentation export-ignore
/tests export-ignore
.php-cs-fixer.dist export-ignore
composer.lock export-ignore
docker-compose.yml export-ignore
phpunit.xml export-ignore